*{
	margin: 0;
	padding: 0;
}

#header {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: #33A8FF;
	transition:all 0.4s;
}

#header ul li{
	list-style-type:none;
}

.idk{
	height: 100px
}

.logo{
	padding:13px 15px;
	padding-left: 150px;
	float:left;
	background-color:#33A8FF;
}

.front_nav{
	float:right;
	width:900px;
	background-color: #33A8FF;
}

.front_nav ul li{
	float:left;
	padding:35px 75px;
	background-color: #33A8FF;
	font-weight:bold;
	font-family:Arial;
}

p{
	color:black;
}


